<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>juso-api</title>
  </head>

<% 
    console.log('타입', typeof query)
    let inputYn = ''
    let roadAddrPart1=''
    let addrDetail=''
    if(typeof query =='undefined'){
        console.log('get')
        inputYn = ''
    }
    else {
        console.log('post')
        // console.log(query)
        inputYn = query.inputYn
        roadAddrPart1 = query.roadAddrPart1
        addrDetail = query.addrDetail
    }
    console.log(`inputYn`,inputYn)
%>

  <script language="javascript">
    function init(inputYn) {
      var url = location.href;
      var confmKey = '도로명 주소 api 키 입력하는 곳!';
      var resultType = '3'; // 도로명주소 검색결과 화면 출력내용, 1 : 도로명, 2 : 도로명+지번, 3 : 도로명+상세건물명, 4 : 도로명+지번+상세건물명

      if (inputYn != 'Y') {
        document.form.confmKey.value = confmKey;
        document.form.returnUrl.value = url;
        document.form.resultType.value = resultType;
        document.form.action = 'http://www.juso.go.kr/addrlink/addrLinkUrl.do'; //인터넷망
        document.form.submit();
      } else {
        opener.jusoCallBack(roadAddrPart1.value,addrDetail.value);
        window.close();
      }
    }
  </script>
  <body onload="init(document.getElementById('isPost').value);">
    <input type="hidden" id="isPost" value="<%=inputYn%>">
    <input type="hidden" id="roadAddrPart1" value="<%=roadAddrPart1%>">
    <input type="hidden" id="addrDetail" value="<%=addrDetail%>">
    <form id="form" name="form" method="post">
      <input type="hidden" id="confmKey" name="confmKey" value="" />
      <input type="hidden" id="returnUrl" name="returnUrl" value="" />
      <input type="hidden" id="resultType" name="resultType" value="" />
    </form>
  </body>
</html>
